<header>
  <a href="/">
    <img src="/imgs/rick.png" alt="rick" />
  </a>
  <h1>Rick and Morty</h1>
</header>
<style>
  header {
    width: "100%";
    max-width: 1200px;
    padding: 20px;
    display: flex;
    align-items: center;
    gap: 15px;
    margin-right: auto;
    margin-left: auto;
  }
  img {
    width: 50px;
    transition: all 0.3s ease;
  }
  img:hover {
    transform: scale(1.2);
  }
</style>
